* {
  box-sizing: border-box;
}
body {
  font-family: "SF-Pro-Display", Arial, Helvetica, sans-serif;
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: #343237;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: auto;
}

.menu a {
  color: #cbcffb;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}
.menu a:hover {
  text-decoration: underline;
}
.menu_and_send {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
}
h1 {
  font-size: 140px;
  font-weight: 700;
  color: #cbcffb;
}
